.sec-1{
   img{
    display: flex;
    position: absolute;
    width: 100%;
    @media(max-width:480px){
    height: 250px;
    }
   }
   .textdiv{
    position: relative;
    max-width: 650px;
    width: 100%;
    margin: auto;
    padding-top: 238px;
    @media(max-width:1200px){
        padding-top: 150px;
    }
    @media(max-width:900px){
        padding-top: 100px;
    }
    h1{
        font-size: 79px;
        @media(max-width:750px){
            font-size: 55px;
            margin-left: 120px;
        }
        @media(max-width:570px){
            font-size: 40px;
            margin-left: 90px;
            margin-top: 0px;
        }
        font-weight: 700;
        color: white;
        margin-bottom: 30px;
    }
    h2{
        font-size: 19px;
        @media(max-width:750px){
            font-size: 10px;
            margin-left: 220px;
        }
        @media(max-width:750px){
            margin-left: 140px;
            margin-top: 10px;
        }
        @media(max-width:370px){
            margin-left: 70px;
        }
        font-weight: 400;
        color: white;
        margin-left: 90px;
    }
   }
}